SECRET_KEY=valtozzon-meg-production-ban
DATABASE_URL=postgresql://user:pass@localhost/solvior_project
MAIL_SERVER=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=your-sendgrid-api-key
MAIL_DEFAULT_SENDER=noreply@solvior.ee
MAIL_USE_TLS=true
